{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

.profile-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profile-btn:hover, a:hover {
    opacity: 0.7;
}
.ava {
    width: 300px;
    height: 300px;
}
    </style>

<h1>Профиль</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
  {% if profil.avatar.url %}
    <img class="ava" src="{{ profil.avatar.url }}" alt="Img" style="width:100%">
  {% else %}
    <a class='profile-a' href="{% url 'mainPageApp:add_profile' %}">Добавить Аватарку</a>
  {% endif %}

  <h1>Профиль</h1>
  <p class="title">Example</p>
  <p>Имя пользователя: {{ user.username }}</p>

  {% if profil.first_name %}
    <p>Имя: {{ profil.first_name }}</p>
  {% else %}
    <a class='profile-a' href="{% url 'mainPageApp:add_profile' %}">Имя: Добавить имя</a><br><br>
  {% endif %}

  {% if profil.last_name %}
    <p>Фамилия: {{ profil.last_name }}</p>
  {% else %}
    <a class='profile-a' href="{% url 'mainPageApp:add_profile' %}">Фамилия: Добавить Фамилию</a><br>
  {% endif %}

  <p>Email адрес: {{ user.email }}</p><br>
  <p><button class="profile-btn" onclick="Logout_to_main()">На главную</button></p><br>
  <p><button class="profile-btn" onclick="Logout_to_profile()">Редактировать профиль</button></p><br>
  <p><button class="profile-btn" onclick="My_posts()">Мои посты</button></p><br>
</div>

    <script>
        function Logout_to_main() {
            window.location.href = "{% url 'mainPageApp:index' %}";
        }
        function Logout_to_profile() {
            window.location.href = "{% url 'mainPageApp:add_profile' %}";
        }
        function My_posts() {
            window.location.href = "{% url 'mainPageApp:createNewRadit' %}";
        }
    </script>






    {% endblock %}
